{% extends "base.html" %}

{% block content %}
    <h1>Login</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{form.submit() }}</p>
        <p>
            Esqueceu a senha?
            <a href="{{ url_for('reset_password_request') }}">Clique aqui para trocá-la</a>
        </p>
    </form>
    <p>Não possui conta? <a href="{{ url_for('register') }}">Clique aqui para se registrar</a></p>
{% endblock %}